<!DOCTYPE html>
<html lang="en">
<head>
  <title>FirstGlance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f0f0f0;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }

  </style>
</head>
<body>

<!-- Collapsible Navbar for small screens-->

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Keywords</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Your Keyword">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#section1">
        <span class="glyphicon glyphicon-unchecked"></span>  E-commerce</a></li>
        <li><a href="#section2">
        <span class="glyphicon glyphicon-unchecked"></span>  Facebook</a></li>
        <li><a href="#section3">
        <span class="glyphicon glyphicon-unchecked"></span>  Paypal</a></li>
        <li><a href="#section3">
        <span class="glyphicon glyphicon-unchecked"></span>  eBay</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-9">
      <div class="page-header">
        <h1>Explore with FirstGlance</h1>
      </div>

      <ul class="nav nav-tabs">
       <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Trend</a></li>
        <li class="active"><a href="#">Article</a></li>
        <li><a href="#">About</a></li>
      </ul></br>

    <div class="embed-responsive embed-responsive-4by3">
        <h4>Article Name</h4>
        <iframe class="embed-responsive-item" src="http://www.bnext.com.tw/article/view/id/38073"></iframe>
      </div>
    </div>

    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Keywords</h2>
      <ul class="nav nav-pills nav-stacked">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Keyword">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
        </div></br>
        <li class="active"><a href="#section1">
        <span class="glyphicon glyphicon-unchecked"></span>  E-commerce</a></li>
        <li><a href="#section2">
        <span class="glyphicon glyphicon-unchecked"></span>  Facebook</a></li>
        <li><a href="#section3">
        <span class="glyphicon glyphicon-unchecked"></span>  Paypal</a></li>
        <li><a href="#section3">
        <span class="glyphicon glyphicon-unchecked"></span>  eBay</a></li>
      </ul><br>
    </div>
    <br>
  </div>
</div>

</body>
</html>
