.page-header
  img src="/header.jpg" width="40%" id="header" 

ul.nav.nav-tabs
  li.active id="function_tab1"
    a href="/"
      span.glyphicon.glyphicon-signal
      |  Trend
  li id="function_tab2"
    a href="/article"
      span.glyphicon.glyphicon-file
      |  Article
  li id="function_tab3"
    a href="#"
      span.glyphicon.glyphicon-info-sign
      |  About

/ Date slider
.col-sm-12 style="margin-top:10px; margin-bottom:10px;"
  div id="range" style="width:100%; height:150px;"
    javascript:
      $(function () {
        $("#range").ionRangeSlider({
          min: +moment().subtract(2, "years").format("X"),
          max: +moment().format("X"),
          from: +moment().subtract(6, "months").format("X"),
          to: +moment().format("X"),
          type: "double",
          prettify: function (num) {
              return moment(num, "X").format("YYYY/MM");
          }
        });  
      });  

    input#range name="range" type="text" value="" /
br /

.col-sm-12
  / Trend Visualization
  div id="count" style ="display:none"
    |#{@data_count.to_json}  

  .well
    div id="plot" style="width:100%; height:300px;"
      javascript:
          $(function () {
              var trend = JSON.parse(document.getElementById("count").innerHTML);
              var series = [];
              for(var i=0; i<trend.length; i++){
                  series[i] = { name: trend[i].keyword, data: trend[i].data};
              }  

              $('#plot').highcharts({
                  title: {
                      text: 'Trend for Your Keyword',
                      x: -20 //center
                  },
                  subtitle: {
                      text: 'Source: bnext.com.tw',
                      x: -20
                  },
                  xAxis: {
                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                  },
                  yAxis: {
                      title: {
                          text: 'Keyword Count'
                      },
                      plotLines: [{
                          value: 0,
                          width: 1,
                          color: '#808080'
                      }]
                  },
                  tooltip: {
                      valueSuffix: 'feeds'
                  },
                  legend: {
                      layout: 'vertical',
                      align: 'right',
                      verticalAlign: 'middle',
                      borderWidth: 0
                  },
                  series : series
              });
          });

  div style="height: 260px;"